@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}
.active {
  @apply text-blue-700 bg-blue-200/40 w-[280px] rounded-r-full;
}

.active:hover {
  @apply text-blue-700 bg-blue-200/40 w-[280px] rounded-r-full;
}

.hidden-tag {
  @apply text-[10px] cursor-pointer bg-gray-600 text-gray-100 px-2 py-1 rounded-sm mt-1;
}

.btn {
  @apply px-4 py-2 text-sm text-white bg-blue-700 rounded-md font-medium hover:bg-blue-500 hover:shadow-md;
}

.btn:disabled {
  opacity: 0.8;
}

.auth-btn:disabled {
  opacity: 0.8;
}
